<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>اهمية العمل التطوعي </h2>
        <p>يُعرف العمل التطوعي على أنه: "جهد يبذله الفرد من نفسه دون إجبار، ودون انتظار مردود مادي منه، مهما كان نوع الجهد المبذول فكريًا أو ماديًا أو حتى اجتماعيًا، رجاء الأجر والثواب من الله، ولأجل تنمية المجتمع"        </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="importance" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="text-align: right"  dir="rtl">

            <ul>
              <li><i class="icofont-check-circled "></i>  من الناحية الدينية  </li>
                <p>كسب الأجر والثواب من الله تعالى؛ وذلك بسبب القيام بعمل لخدمة الآخرين دون أي مقابل
                </p>
              <li><i class="icofont-check-circled"></i> من الناحية الاجتماعية
            </li>
            <p>تحقيق العديد من الفوائد الإيجابية التي تعود على الفرد المجتمع، حيث يسهم العمل التطوعي في زيادة قوة المجتمع، ودعم روابط المحبة والمودة بين أبنائه.
             </p>
              <li><i class="icofont-check-circled"></i> من الناحية النفسية
            </li>
            <p>تكمن أهمية العمل التطوعي من الناحية النفسية في نشر السعادة في كل من المتطوع ذاته والمتطوَّع له، كما إن العمل التطوعي يلعب دورًا مهمًا في تعبئة وقت الفراغ خاصة لفئة الشباب، بدلًا من استغلال هذه الأوقات بأمور غير مجدية.
            </p>
            </ul>

          </div>
        </div>

      </div>

    </section><!-- End About Section -->



  <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials" dir="rtl" style="text-align: right;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>التبرع</h2>
          <p>كيف يمكنك التبرع للجمعية</p>


          </div>
        <div class="row">
          <div class="col-md-6">
            <div class="section-title">
              <h2>كفالة</h2>
              <p>كيف يمكنك كفالة يتيم</p>
              <a routerLink="/donate" class="get-started-btn mr-auto">تبرع هنا</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="section-title">
              <h2>خدمات</h2>
              <p>كيف يمكنك تقديم خدمة</p>
              <a routerLink="/service" class="get-started-btn mr-auto">تبرع هنا </a>
            </div>
          </div>
        </div>
<router-outlet></router-outlet>

      </div>
    </section> <!-- End Testimonials Section -->

  </main><!-- End #main -->


