<!-- ======= Contact Section ======= -->

<html dir="rtl" lang="ar">
<section id="contact" class="contact">
  <div data-aos="fade-up">
    <iframe style="border:0; width: 100%; height: 350px;" src="https://maps.google.com/maps?q=ariana%20tunisie%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="container" data-aos="fade-up" >

    <div class="row mt-5" dir="rtl">
      <div class="col-lg-4">
        <div class="info"   style="text-align: right" >
          <div class="address "  >
            <i class="icofont-google-map "></i>
            <h4 >الموقع:</h4>
            <p> أريانة - تونس
              (بالقرب من الولايه)</p>
          </div>

          <div class="email">
            <i class="icofont-envelope" dir="rtl" ></i>
            <h4>إيمايل</h4>
            <p>rahma@gmail.com</p>
          </div>

          <div class="phone">
            <i class="icofont-phone" dir="rtl"></i>
            <h4>الهاتف:</h4>
            <p>999999999</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="الإسم" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="الإيمايل" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="النص"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">إرسال</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

</html>
