<div class="border-end" id="sidebar-wrapper" *ngIf="!nav.visible">
    <div class="sidebar-heading border-bottom"><a routerLink="/dashboard" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light px-4 py-3" routerLink="/dashboard">Tableau de bord</a>
        <a class="list-group-item list-group-item-action list-group-item-light px-4 py-3" routerLink="/dashboard/actualites">Gestion des actualités</a>
        <a class="list-group-item list-group-item-action list-group-item-light px-4 py-3" routerLink="/dashboard/evenements">Gestion d'événements</a>
        <a class="list-group-item list-group-item-action list-group-item-light px-4 py-3" routerLink="/dashboard/demandes">Gestion des demandes d'inscription</a>
        <a class="list-group-item list-group-item-action list-group-item-light px-4 py-3" routerLink="/dashboard/donations">Gestion des donations</a>
        <a class="list-group-item list-group-item-action list-group-item-light px-4 py-3" routerLink="/dashboard/membres">Gestion des membres</a>
        <a class="list-group-item list-group-item-action list-group-item-light px-4 py-3" routerLink="/dashboard/services">Gestion des services</a>
    </div>
</div>