<div class="dashboard-container">
  <section class="container">
    <div class="section-title">
      <h2>Services</h2>
      <p>Liste des inscriptions</p>
    </div>
    <!--      <button type="button" class="btn btn-danger btn-sm mr-2" (click)="show()"><i class="ri-add-box-fill"></i></button>-->

    <!--      <div class="modal-content" *ngIf="x">-->
    <!--        <form [formGroup]="addForm" (ngSubmit)="addNew()">-->
    <!--          <div class="form-row">-->
    <!--            <div class="col">-->
    <!--              <input formControlName="title" type="text" class="form-control" placeholder="picture name">-->
    <!--            </div>-->
    <!--            <div class="col">-->
    <!--              <input formControlName="description" type="text" class="form-control" placeholder="description name">-->
    <!--            </div>-->
    <!--            <div class="col-2 form-group">-->
    <!--              <label >Image input</label>-->
    <!--              <input  formControlName="url" type="file" class="form-control-file" >-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <button >add</button>-->
    <!--        </form>-->
    <!--      </div>-->

    <div class="dashbord-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col-1">#</th>
          <th scope="col-3">Titre</th>
          <th scope="col-3">Date</th>
          <th scope="col-4">Description</th>
          <th scope="col-4">Description</th>
          <th scope="col-4">Description</th>
          <th scope="col-4">Description</th>
          <th scope="col-4">Description</th>
          <th scope="col-4">Description</th>
          <th scope="col-4">Description</th>
          <th scope="col-4">Description</th>
          <th scope="col-1"></th>
        </tr>
        </thead>
        <tbody>
<!--        <tr  *ngFor="let n of services; let i = index" >-->
<!--          <th scope="row">{{i+1}}</th>-->
<!--          <td>{{n.firstName}}</td>-->
<!--          <td>{{n.lastName}}</td>-->
<!--          <td>{{n.email}}</td>-->
<!--          <td>{{n.phone}}</td>-->
<!--          <td>{{n.civilStatus}}</td>-->
<!--          <td>{{n.typeService}}</td>-->
<!--          <td>{{n.job}}</td>-->
<!--          <td>{{n.emptyTime}}</td>-->
<!--          <td>{{n.otherService}}</td>-->
<!--          <td>{{n.stateService}}</td>-->
<!--          <td>-->
<!--&lt;!&ndash;            <button (click)="OnDelete(n)" type="button" class="btn btn-danger btn-sm mr-2"><i class="ri-delete-bin-2-fill"></i></button>&ndash;&gt;-->
<!--            <button type="button" class="btn btn-warning btn-sm"><i class="ri-edit-2-fill"></i></button>-->
<!--          </td>-->
<!--        </tr>-->


        </tbody>
      </table>
    </div>
  </section>
</div>
