<!-- End who we are Section -->
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">
    <div class="section-title" style="text-align: right">
      <h2>من نحن؟</h2>
      <p>من نحن؟</p>
    </div>
    <div class="row">
      <div class="col-lg-6 d-flex ">
        <div class="content">
          <h3 style="color: #0b2e13; text-align: right">
            جمعية سنابل الخير </h3>
          <p style="text-align: right">رؤيتنا و رسالتنا
            نعمل على تحقيق الريادة والتميز في الرقي بالمجتمع و تحفيز الإبداع في العمل الخيرى.جمعيةسنابل الخير تمثل وسيلة
            لكل من يرغب في خدمة مجتمعه و مساعدة أفراده لينعم الجميع بحياة كريمة و يشعروا بالرضى لانتمائهم لهذا المجتمع.
            نطمح لرؤية الناس فرحين مستقرين في حياتهم اليومية و يجد كل ذي حاجة من يسنده و يعينه
          </p>
        </div>
      </div>
      <div class="col-lg-6 h-50 pt-4 pt-lg-0 order-2" data-aos="fade-left" data-aos-delay="100">
        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="1000" [keyboard]="true"
          [pauseOnHover]="true" [wrap]="true" [activeId]="'sliderThree'">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/img/beautiful.jpg" alt="Random first slide" class="img-fluid">
            </div>
            <div class="carousel-caption" dir="rtl">
              <h3>"يَا أَيُّهَا الَّذِينَ آمَنُوا اتَّقُوا اللَّهَ حَقَّ تُقَاتِهِ وَلَا تَمُوتُنَّ إِلَّا وَأَنتُم
                مُّسْلِمُونَ"</h3>
              <p>[آل عمران: 102]</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/img/pr.jpg" alt="Random second slide" class="img-fluid">
            </div>
            <div class="carousel-caption" style="color:black" dir="rtl">
              <h3>"كافل اليتيم له أو لغيره، أنا وهو كهاتين في الجنة"</h3>
              <p>عن رسول الله -صلى الله عليه وسلم</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/img/little.jpg" alt="Random third slide" class="img-fluid">
            </div>
            <div class="carousel-caption" style="color: black" dir="rtl">
              <h3>"كافل اليتيم له أو لغيره"</h3>
              <p>عن رسول الله -صلى الله عليه وسلم</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>

  </div>
</section><!-- End who are we  Section -->

<!-- ======= principles  Section ======= -->
<section id="principles" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title" style="text-align: right">
      <h2>الـمبادئ؟</h2>
      <p>ما هي مبادئنا؟ </p>
    </div>
    <div class="container" style="text-align: right" dir="rtl">
      <h2> الـمبادئ التي تحكم عمل الـجمعية :</h2>
      <ul class="check-circled-list">
        <li>ليس للجمعية طابع تجاري ولا سياسي بل هو اجتماعي وخيري صرف </li>
        <li>تعمل على رعاية وتنشئة الأيتام، بروح التضامن المتأصل والإحسان وحمايتهم من كل الأمراض الاجتماعية</li>
        <li>تستمد إنسانيتها من مبادئ الإسلام في التراحم و الإحسان</li>
        <li>تتعاون مع السلطات والهيئات العمومية والخاصة والجمعيات الأخرى ومع كل من يمد لها يد المساعدة</li>
        <li>تعتمد التدرج و التميّز بتقديم الخدمات من خلال إنشاء قاعدة بيانات دقيقة واعتماد زيارات ميدانيّة دوريّة
          للأيتام</li>
        <li>تعتمد الشفافيّة التامّة في التصرف</li>
      </ul>
    </div>
  </div>
</section><!-- End principles Section -->



<!-- ======= qui somme nous  Section ======= -->
<section id="structure" class="about trainers">
  <div class="container" data-aos="fade-up">
    <div class="section-title" style="text-align: right">
      <h2>هيكلة الجمعية</h2>
      <p>هيكلة الجمعية</p>
    </div>
    <div class="container" style="text-align: right" dir="rtl">
      <h2 class="mb-4">أعضاء الهيئة المديرة :</h2>
      <div class="row" data-aos="zoom-in" data-aos-delay="100" dir="rtl">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/ghada.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Ghada Awedni</h4>
              <p>الرّئيس </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/ghof.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Ghofrane Amaimi</h4>
              <p>أمين المال</p>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
</section><!-- End qui somme nous Section -->
