<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="m-0 footer-top" *ngIf="nav.visible">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img class="img-fluid logo-footer mb-5 mb-md-0" src="assets/img/logo-gray.png" alt="">
        </div>
        <div class="col-md-6" dir="rtl">
          <div class="section-title" style="text-align: right" data-aos="fade-up" *ngIf="nav.visible">
            <h2>للإتصال بنا</h2>
            <p>للإتصال بنا</p>
          </div>
          <div class="footer-contact">
            <div class="icon-box">
              <i class="ri-map-pin-line"></i>
              <span>أريانة - تونس ( بالقرب من الولايه)</span>
            </div>
            <div class="icon-box">
              <i class="ri-record-mail-line"></i>
              <span>rahma@gmail.com</span>
            </div>
            <div class="icon-box">
              <i class=" ri-phone-line"></i>
              <span>(+216) 99 999 999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4 justify-content-between">
    <div class="mb-3 mb-md-0 d-flex justify-content-center align-items-center mr-auto">
      جميع الحقوق محفوظة © 2021 سنابل خير
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0 mb-3 mb-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->