<section id="service">
  <div class="container" data-aos="fade-up">
    <div class="page-wrapper bg-green p-t-100 p-b-100 font-robo">
      <div class="wrapper">
        <div class="card card-1">
          <div class="card-heading">
            <img src="assets/images/depositphotos_160058302-stock-photo-every-child-deserves-love.jpg" class="card-thumbnail" />
            <h2 class="title text-center">الانخراط في جمعية سنابل الخير</h2>
          </div>
          <div class="card-body" dir="rtl">
            <form method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="الأسم" name="name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="اللقب" name="name">
                  </div>
                </div>
              </div>
              <div class="input-group">
                <input class="input--style-1" type="date" placeholder="تاريخ الولادة" name="name">
              </div>

              <div class="input-group has-radio">
                <span>الحالة المدنية</span>
                <div class="question">
                  <input type="radio" value="none" id="single" name="status"/>
                  <label for="single" class="radio"><span>اعزب</span></label>
                  <input type="radio" value="none" id="married" name="status" />
                  <label for="married" class="radio"><span>متزوج</span></label>
                </div>
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="رقم الهاتف" name="name">
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="البريد الإلكتروني" name="name">
              </div>

              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search mr-auto ">
                  <select name="gender" class="input--style-1">
                    <option value="">العمل</option>
                    <option value="1">طبيب</option>
                    <option value="2">استاذ</option>
                    <option value="3">رجل اعمال</option>
                    <option value="4">مهندس</option>
                    <option value="5">عامل يومي</option>
                    <option value="6">اعمال حرة </option>
                  </select>
                </div>
              </div>

              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="العنوان" name="name">
              </div>

              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="المدينة" name="name">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="منطقة" name="name">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="الرمز البريدي" name="name">
                  </div>
                </div>
              </div>

              <div class="input-group">
                <textarea class="input--style-1" name="name" placeholder="صف نفسك" rows="3"></textarea>
              </div>

              <div class="p-t-20">
                <button class="btn btn--radius btn--green left" type="submit">إرسال</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
    </style>
  </head>
  <body>
  <section class ="about col-8 center-block" dir="rtl">
    <div class="testbox" style="text-align: right;"   dir="rtl" >
      <form action="/">
        <div class="banner" style="text-align: right;" dir="rtl">
          <h1>الانخراط في جمعية سنابل الخير</h1>
        </div>
        <div class="item" >
          <p> الاسم</p>
          <div class="name-item">
            <input type="text" name="First" placeholder="الاسم" style="text-align: right;"/>
            <input type="text" name="Last" placeholder="اللقب" style="text-align: right;"/>
          </div>
        </div>
        <div class="item"  dir="rtl">
          <p> تاريخ الولادة</p>
          <i class="fas fa-calendar-alt"></i>
          <input type="date" name="bdate" required/>
        </div>

      <div class="question">
          <p>الحالة المدنية </p>
          <div class="question-answer">
            <input type="radio" value="none" id="single" name="status"/>
            <label for="single" class="radio"><span>اعزب</span></label>
            <input type="radio" value="none" id="married" name="status" />
            <label for="married" class="radio"><span>متزوج</span></label>
          </div>
        </div>


        <div class="item">
          <p>الهاتف</p>
          <input type="text" name="name"/>
        </div>
        <div class="item">
          <p>الايميل</p>
          <input type="mail" name="mail" placeholder="exemple@gmail.com" required>
        </div>
      <div class="item">
        <p>العمل</p>
        <select>
          <option value="">طبيب</option>
          <option value="1">استاذ</option>
          <option value="2">رجل اعمال</option>
          <option value="3">مهندس</option>
          <option value="4">عامل يومي</option>
          <option value="5" selected>اعمال حرة </option>
        </select>
      </div>
        <div class="item">
          <p>العنوان</p>
          <input type="text" name="name" placeholder="العنوان"/>
          <div class="city-item">
            <input type="text" name="name" placeholder="المدينة" />
            <input type="text" name="name" placeholder="منطقة" />
            <input type="text" name="name" placeholder="البريد" />
          </div>
        </div>
        <div class="item">
          <p>صف نفسك </p>
          <textarea rows="3"></textarea>
        </div>
        <div class="btn-block">
          <button type="submit" href="/">ارسال</button>
        </div>
      </form>

    </div>
  </section>
  </body>
</html> -->
