<section id="service">
  <div class="container" data-aos="fade-up">
    <div class="page-wrapper bg-green p-t-100 p-b-100 font-robo">
      <div class="wrapper">
        <div class="card card-1">
          <div class="card-heading">
            <img src="assets/images/depositphotos_160058302-stock-photo-every-child-deserves-love.jpg" class="card-thumbnail" />
            <h2 class="title text-center">تقديم خدمات</h2>
          </div>
          <div class="card-body" dir="rtl">
            <form  [formGroup]="addForm" (ngSubmit)="addService()">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <input formControlName="firstName" class="input--style-1" type="text" placeholder="الأسم" name="name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <input formControlName="lastName"  class="input--style-1" type="text" placeholder="اللقب" name="name">
                  </div>
                </div>
              </div>
              <div class="input-group">
                <input formControlName="phone"  class="input--style-1" type="text" placeholder="رقم الهاتف" name="name">
              </div>
              <div class="input-group">
                <input formControlName="email"  class="input--style-1" type="text" placeholder="البريد الإلكتروني" name="name">
              </div>
              <div class="input-group has-radio">
                <span>الحالة المدنية</span>
                <div  class="question">
                  <input formControlName="civilStatus"  type="radio" value="اعزب" id="single" name="status"/>
                  <label for="single" class="radio"><span>اعزب</span></label>
                  <input formControlName="civilStatus"  type="radio" value="متزوج" id="married" name="status" />
                  <label for="married" class="radio"><span>متزوج</span></label>
                </div>
              </div>
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search mr-auto ">
                  <select formControlName="job"  name="gender" class="input--style-1">
                    <option value="">العمل</option>
                    <option value="طبيب">طبيب</option>
                    <option value="استاذ">استاذ</option>
                    <option value="رجل اعمال">رجل اعمال</option>
                    <option value="مهندس">مهندس</option>
                    <option value="عامل يومي">عامل يومي</option>
                    <option value="اعمال حرة">اعمال حرة </option>
                  </select>
                </div>
              </div>

              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search mr-auto ">
                  <select formControlName="typeService"  name="gender" class="input--style-1">
                    <option value="">نوعية الخدمة</option>
                    <option value="دعم مالي">دعم مالي</option>
                    <option value="مساعدة نفسية">مساعدة نفسية    </option>
                    <option value="إحاطة إدارية">إحاطة إدارية</option>
                    <option value="إحاطة قانونية">إحاطة قانونية</option>
                    <option value="مساعدة إجتماعية">مساعدة إجتماعية</option>
                    <option value="رعاية صحية">رعاية صحية </option>
                    <option value="التكوين و التمكين " >التكوين و التمكين </option>
                    <option value="الدعم المدرسي" >الدعم المدرسي </option>
                    <option value="نشاطات اخرى" >نشاطات اخرى </option>
                  </select>
                </div>
              </div>

              <div class="input-group">
                <input formControlName="otherService"  class="input--style-1" type="text" placeholder="خدمات اخرى" name="name">
              </div>

              <div class="input-group">
                <input formControlName="emptyTime"  class="input--style-1" type="text" placeholder="اوقات الفراغ" name="name">
              </div>

              <div class="input-group has-radio">
                <span>كيف تريدان تكون الخدمة ؟</span>
                <div  class="question">
                  <input formControlName="stateService"  type="radio" value="publicService" id="public" name="pub"/>
                  <label for="public" class="radio"><span>خدمة عمومية</span></label>
                  <input formControlName="stateService"  type="radio" value="privateService" id="private" name="pub" />
                  <label for="private" class="radio"><span>خدمة خاصة </span></label>
                </div>
              </div>

              <div class="p-t-20">
                <button class="btn btn--radius btn--green left" type="submit">إرسال</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
    </style>
  </head>
  <body>
  <section class ="about col-8 center-block" dir="rtl">
        <div class="testbox" style="text-align: right;"  dir="rtl" >
          <form action="/">
            <div class="banner">
              <h1> تقديم خدمات</h1>
            </div>
            <div class="item" >
              <p> الاسم</p>
              <div class="name-item">
                <input type="text" name="First" placeholder="الاسم" style="text-align: right;"/>
                <input type="text" name="Last" placeholder="اللقب" style="text-align: right;"/>
              </div>
            </div>
            <div class="item">
              <p>الهاتف</p>
              <input type="text" name="name"/>
            </div>
            <div class="item">
              <p>الايميل</p>
              <input type="mail" name="mail" placeholder="exemple@gmail.com" required>
            </div>

          <div class="question">
              <p>الحالة المدنية </p>
              <div class="question-answer">
                <input type="radio" value="none" id="single" name="status"/>
                <label for="single" class="radio"><span>اعزب</span></label>
                <input type="radio" value="none" id="married" name="status" />
                <label for="married" class="radio"><span>متزوج</span></label>
              </div>
            </div>



          <div class="item">
            <p>العمل</p>
            <select>
              <option value="">طبيب</option>
              <option value="1">استاذ</option>
              <option value="2">رجل اعمال</option>
              <option value="3">مهندس</option>
              <option value="4">عامل يومي</option>
              <option value="5" selected>اعمال حرة </option>
            </select>
          </div>

          <div class="item">
            <p>نوعية الخدمة </p>
            <select>
              <option value="">دعم مالي</option>
              <option value="1">مساعدة نفسية    </option>
              <option value="2">إحاطة إدارية</option>
              <option value="3">إحاطة قانونية</option>
              <option value="4">مساعدة إجتماعية</option>
              <option value="5" selected>رعاية صحية </option>
              <option value="5" >التكوين و التمكين </option>
              <option value="5" >الدعم المدرسي </option>
              <option value="5" >نشاطات اخرى </option>
            </select>
          </div>

            <div class="item">
              <p>خدمات اخرى   </p>
              <input rows="3"/>
            </div>

            <div class="item">
              <p>اوقات الفراغ   </p>
              <input rows="3"/>
            </div>

            <div class="question">
              <p>كيف تريدان تكون الخدمة ؟</p>
              <div class="question-answer">
                <input type="radio" value="none" id="public" name="pub"/>
                <label for="public" class="radio"><span>خدمة عمومية</span></label>
                <input type="radio" value="none" id="privé" name="pub" />
                <label for="privé" class="radio"><span>خدمة خاصة </span></label>
              </div>
            </div>

            <div class="btn-block">
              <button type="submit" href="/">ارسال</button>
            </div>

          </form>

    </div>
  </section>
  </body>
</html> -->
