  <div >
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container  position-relative" data-aos="zoom-in" data-aos-delay="50" >
    <h1>رؤيتنا أن نكون همزة وصل بين أهل الخير<br>وعائلات اليتامى لتحقق نجاحهم و استقرارهم</h1>
    <h2>وسيلتنا تطوير «حزمة» من «سنابل خير» أعضاء وشركاء ومتطوّعين لإحاطة عائلات الأيتام برعاية شاملة لكل احتياجاتهم
    </h2>
    <a routerLink="/donate" class="btn-get-started">تبرع هنا</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="text-align: right">
        <h2>من نحن؟</h2>
        <p>من نحن؟</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"  style="text-align: right" dir="rtl">
          <h3>جمعية سنابل خير للعمل الاجتماعي هي جمعية اجتماعية تنموية تدعم خدمة المجتمع و تساعد المحتاجين ماديا و معنويا و اجتماعيا كما تساهم في المجهود الوطني للتنمية المستدامة من خلال رصيد بشري متميز و إدارة محترفة.</h3>
          <ul>
            <li><i class="icofont-check-circled " ></i> نعمل على تحقيق الريادة والتميز في الرقي بالمجتمع و تحفيز الإبداع في العمل الخيرى</li>
            <li><i class="icofont-check-circled"></i> جمعية سنابل خير تمثل وسيلة لكل من يرغب في خدمة مجتمعه و مساعدة أفراده لينعم الجميع بحياة كريمة و يشعروا بالرضى لانتمائهم لهذا المجتمع. نطمح لرؤية الناس فرحين مستقرين في حياتهم اليومية و يجد كل ذي حاجة من يسنده و يعينه</li>

          </ul>
          <a routerLink="/about" class="learn-more-btn">إقرأ المزيد</a>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->

  <div data-aos="fade-up">
    <div class="container section-title" style="text-align: right">
      <h2>أرقام</h2>
      <p>أرقام</p>
    </div>
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters" dir="rtl">

          <div class="col-lg-3 col-6 text-center" >
            <span data-toggle="counter-up">1232</span>
            <p class="text-center">يتيم</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">64</span>
            <p class="text-center">أرملة</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p class="text-center">كفيل</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p class="text-center">منخرط</p>
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->
  </div>
  <!-- ======= Why Us Section ======= -->


  <section id="why-us" class="why-us" >
    <div class="container" data-aos="fade-up">
      <div class="section-title" style="text-align: right">
        <h2>أهـداف الـجمـعيـة</h2>
        <p>أهـداف الـجمـعيـة</p>
      </div>
      <div class="row" dir="rtl">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content" style="text-align: right" >
            <h3  >المتبرّعون هم مثل الآباء الحقيقيين!</h3>
            <p>
              تسعى الجمعية في كل مناسبة (رمضان, الأعياد, اليوم العربي لليتيم ) لجمع التبرعات والتعريف بنشاطها.
            </p>
            <div class="text-center">
              <a routerLink="/about" fragment="principles" class="more-btn">إقرأ المزيد <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <img src="assets/img/events-2.jpg" class="img-fluid mb-4" alt="">
                  <h4 class="mb-4">كفالة</h4>
                  <p>حثّ الإسلام على كفالة اليتيم والتوصية به، وبالمحافظة على ماله حتى يبلغ رشده، لذلك ذكر الله -تعالى- اليتيم في آياتٍ كثيرةٍ كلها توصي به،</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <img src="assets/img/events-1.jpg" class="img-fluid mb-4" alt="">
                  <h4 class="mb-4">الهبات والمنح</h4>
                  <p>وفير الظروف اللازمة والملائمة لرعاية وتنشئة الأيتام نشأة سليمة متكاملة من خلال الأنشطة التربوية والثقافية والعلمية والتكوينية.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <img src="assets/img/f.jpg" class="img-fluid mb-4" alt="">
                  <h4 class="mb-4">تقديم خدمات</h4>
                  <p>من أجل ضمان استقرار وتواصل الإعانات المقدّمة للأيتام تحثّ الجمعية المساهمين فيها على الانخراط في منظومة التبرّع القارّ من خلال تقديم تبرّع شهري قارّ للجمعيّة.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100" dir="rtl">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
           <i class=" ri-medal-line" style="color: #ffbb2c;"></i>
            <h3>الدعم المالي</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class=" ri-medal-line" style="color: #ffbb2c;"></i>
            <h3>الإحاطة الإدارية</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3>الإحاطة القانونية</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3>المساعدة الإجتماعية</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3>المساعدة النفسية</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3>الرعاية الصحية</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3>التكوين والتمكين</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3>الدعم المدرسي</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3>الدعم اللوجستي</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3>التّرفيه</h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Popular Courses Section ======= -->
  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="text-align: right">
        <h2>اخر الأخبار</h2>
        <p>اخر الأخبار</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100" dir="rtl" style="text-align: right">

        <div *ngFor="let n of news; let i = index"  class="col-lg-4 col-md-6 d-flex align-items-stretch" >
          <div class="course-item" *ngIf="i<3">
            <img src={{n.url}} style="height:auto" class="img-fluid" alt="...">
            <div class="course-content" >
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>{{n.date}}</h4>
                <div class="icon-box">
                  <i class="ri-map-pin-line" style="color: #ffbb2c;">تونس </i>
                </div>
              </div>
              <h3 >{{n.title}}</h3>
              <p>{{n.description}}</p>
<!--              <p>تعلم جمعية سنابل الخير للعمل الاجتماعي كافة منخرطيها ان جلستها العامة الانتخابية ستعقد يوم 10 أفريل 2021 على الساعة الرابعة مساء…</p>-->
            </div>
          </div>
        </div> <!-- End Course Item-->


      </div>

    </div>
  </section><!-- End Popular Courses Section -->

  <!-- ======= Trainers Section ======= -->
<!--
<section id="trainers" class="trainers"  >
    <div class="container" data-aos="fade-up">
      <div class="section-title" style="text-align: right">
        <h2>أعضاء الهيئة المديرة</h2>
        <p>أعضاء الهيئة المديرة</p>
      </div>

        <div *ngFor="let m of members"  class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src={{m.url}} class="img-fluid" alt="">
            <div class="member-content ">
              <h4>{{m.firstName}} </h4>
              <p>{{m.post}} </p>
            </div>
          </div>
        </div>

      </div>

  </section>
-->

  <!-- End Trainers Section -->

</main><!-- End #main -->


</div>
