<div class="dashboard-container">
    <section class="container">
        <div class="section-title">
            <h2>Actualités</h2>
            <p>Liste des actualités</p>
        </div>

      <button type="button" class="btn btn-danger btn-sm mr-2" (click)="show()"><i class="ri-add-box-fill"></i> أضف</button>
  <div class="row">
  <div  class="form-group col-md-3"></div>
      <div  class="form-group col-md-6"  *ngIf="x" style="border-radius: 10px;margin-top:03px; margin-bottom: 30px;border: 2px solid grey" >
      <form [formGroup]="addForm" (ngSubmit)="addNew()">

        <div class="row form-group" style="margin-top:30px;margin-left:5px;margin-right:30px; margin-bottom: 30px">
          <div class="col-md-12">
            <input formControlName="title" type="text" class="form-control" placeholder="Titre">
          </div>
        </div>
        <div class="row form-group" style="margin-top:30px;margin-left:03px;margin-right:30px; margin-bottom: 30px">
          <div class="col-md-12">
            <input formControlName="description" type="text" class="form-control" placeholder="Description ">
          </div>
        </div>
        <div class="row form-group" style="margin-top:30px;margin-left:30px;margin-right:30px; margin-bottom: 30px">
          <div class="col-md-12">
            <label >Image input</label>
            <input  formControlName="url" type="file" class="form-control-file" >
          </div>
        </div>
        <button  [disabled]="addForm.invalid"  type="submit" class="btn btn-danger btn-sm mr-2 " style="margin-bottom: 30px;margin-left:240px" ><i class="ri-add-box-fill"></i> أضف</button>
      </form>
    </div>
  </div>
        <div class="dashbord-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-3">Titre</th>
                    <th scope="col-3">Date</th>
                    <th scope="col-4">Description</th>
                    <th scope="col-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let n of news; let i = index" >
                    <th scope="row">{{i+1}}</th>
                    <td>{{n.title}}</td>
                    <td>{{n.date}}</td>
                    <td>{{n.description}}</td>
                    <td>
                        <button (click)="OnDelete(n)" type="button" class="btn btn-danger btn-sm mr-2"><i class="ri-delete-bin-2-fill"></i></button>
                        <button (click)="OnUpdate(n)" data-toggle="modal" data-target="#logoutModal" type="button" class="btn btn-warning btn-sm"><i class="ri-edit-2-fill"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </section>
</div>


