
<header id="header" *ngIf="nav.visible">
  <div class="container d-flex align-items-center" dir="rtl">

    <h1 class="logo mr-md-n5" ><a routerLink="/home" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block mr-auto" >
      <ul>
        <li class="active"><a routerLink="/home">  الرئيسية</a></li>
        <li><a routerLink="/about">من نحن؟</a>
          <!-- <li class="drop-down" ><a routerLink="about">من نحن؟</a>
          <ul dir="rtl">
            <li ><a routerLink="definition"> تعريف الجمعية</a></li>
            <li><a routerLink="structure">هيكلة الجمعية</a></li>
          </ul> -->
        </li>
        <li class="drop-down "><a>جديدنا</a>
          <ul dir="rtl">
            <li><a routerLink="latestnews" >  اخر الأخبار</a ></li>
            <li><a routerLink="manifestation" >التظاهرات القادمة</a></li>
          </ul>
        </li>
        <li><a routerLink="/services">للتمتع بخدماتنا</a></li>
        <li class="drop-down"><a routerLink="/aide"> كيف تساعد؟</a>
          <ul dir="rtl">
            <li><a routerLink="/importance">   اهمية العمل التطوعي  </a>   </li>
            <li><a routerLink="/donate">    التبرع     </a></li>
            <li><a routerLink="/garantie">    كفالة يتيم    </a></li>
            <li><a routerLink="/service">   تقديم خدمة   </a></li>
            <li><a routerLink="/inscrit">     الانخراط    </a></li>
          </ul>
        </li>
        <li><a routerLink="/contact"> اتصل بنا</a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <a routerLink="/donate" class="get-started-btn mr-auto">تبرع هنا</a>
    <a routerLink="/login" class="get-started-btn position-relative">فضاء الإدارة</a>

  </div>
</header>

<router-outlet></router-outlet>
