<section id="garantie">
  <div class="container" data-aos="fade-up">
    <div class="page-wrapper bg-green p-t-100 p-b-100 font-robo">
      <div class="wrapper">
        <div class="card card-1">
          <div class="card-heading">
            <img src="assets/img/family-time.jpg" class="card-thumbnail" />
            <h2 class="title text-center">كفالة يتيم</h2>
          </div>
          <div class="card-body" dir="rtl">
            <form method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="الأسم" name="name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="اللقب" name="name">
                  </div>
                </div>
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="رقم الهاتف" name="name">
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="البريد الإلكتروني" name="name">
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="العنوان" name="name">
              </div>
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search mr-auto ">
                  <select name="gender" class="input--style-1">
                    <option value="">عدد الأطفال الذي يمكن كفالتهم</option>
                    <option value="1">طفل واحد</option>
                    <option value="2">طفلان</option>
                    <option value="3">ثلاثة أطفال</option>
                  </select>
                </div>
              </div>
              <div class="p-t-20">
                <button class="btn btn--radius btn--green left" type="submit">إرسال</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>